<div class="bg-base" style="height: 100vh;">
    <div class="container">
        <h1>個qwqw!</h1>
        <img src="../assets/images/01-onboarding/2x/onboarding-CharacterImage@2x.png" alt="" class="img-fluid">
    </div>
    
</div>    

