<div class="bg-base" style="height: 100vh;">
        <div class="container">
            <nav class="">
                <div class="d-flex justify-content-between py-3 px-6">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 19.5L8 12.5L15 5.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="d-flex justify-content-between py-3 px-6">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 19.5L8 12.5L15 5.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <img src="../assets/images/08-icon/State=Default, icon=close.svg" alt=""> 
                </div>
                <div class="d-flex justify-content-between py-3 px-6">
                    <h1 class="h6">設定</h1>
                    <img src="../assets/images/08-icon/State=Default, icon=close.svg" alt=""> 
                </div>
                <div class="d-flex justify-content-between py-3 px-6">
                    <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M15 19.5L8 12.5L15 5.5" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <h1 class="h6">設定</h1>
                    <img src="../assets/images/08-icon/State=Default, icon=close.svg" alt=""> 
                </div>
                
            </nav>
            <h1>qwqw!</h1>
            
            <div class="btn btn-primary-200 text-primary">text-primary</div>
            <div class="btn btn-primary-600 btn-lg text-body-secondary">text-body-secondary</div>
            <div class="btn btn-secondary-900 btn-sm text-body-tertiary">text-body-tertiary</div>
        </div>
        </div>