<div class="bg-base" style="height: 100vh;">
    <div class="container">
        <h1>個qwqw!</h1>
        <!-- <img src="../assets/images/01-onboarding/2x/onboarding-CharacterImage@2x.png" alt="" class="img-fluid"> -->
    </div>
    <div class="gradient-color-intimacy" style="width: 300px; height: 50px; " >gradient-color-intimacy</div>
    <div class="gradient-color-closeLevel" style="width: 300px; height: 50px; " >gradient-color-closeLevel</div>
    <div class="gradient-color-chatfailed" style="width: 300px; height: 50px; " >gradient-color-chatfailed</div>
    <div class="gradient-color-chat-template" style="width: 300px; height: 50px; " >gradient-color-chat-template</div>
    <div class="gradient-closeLevel" style="width: 300px; height: 50px; " >gradient-closeLevel</div>
    <div class="supcolor text-dark" style="width: 300px; height: 50px; " >supcolor:#D9D9D9</div>
    <div class="bg-success rounded-circle" style="width: 50px; height: 50px;"></div>
    <div class="bg-danger rounded-circle" style="width: 50px; height: 50px;"></div>
</div>